name: Slow-Checks

on:
  workflow_call:

jobs:

  run-integration-tests:
    name: Integration Tests (${{ matrix.backend }}, ${{ matrix.exasol-version}})
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - backend: saas
            exasol-version: provided
          - backend: onprem
            exasol-version: "2025.1.8"

    steps:
      - name: Allow unprivileged user namespaces
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false

      - name: Free disk space by removing large directories
        run: |
                sudo rm -rf /usr/local/graalvm/
                sudo rm -rf /usr/local/.ghcup/
                sudo rm -rf /usr/local/share/powershell
                sudo rm -rf /usr/local/share/chromium
                sudo rm -rf /usr/local/lib/node_modules
                sudo rm -rf /opt/ghc

      - name: Check out Repository
        id: check-out-repository
        uses: actions/checkout@v6

      - name: Set up Python & Poetry Environment
        id: set-up-python-and-poetry-environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v6
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"

      - name: Run Tests and Collect Coverage
        id: run-integration-tests
        run: >
          poetry run -- nox -s test:integration -- --coverage
          --backend ${{ matrix.backend }}
          --db-version ${{ matrix.exasol-version }}
        env:
          SAAS_HOST: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_HOST }}
          SAAS_ACCOUNT_ID: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_ACCOUNT_ID }}
          SAAS_PAT: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_PAT }}

      - name: Upload Artifacts
        id: upload-artifacts
        uses: actions/upload-artifact@v6
        with:
          name: coverage-python3.10-${{ matrix.backend }}-${{ matrix.exasol-version }}
          path: .coverage
          include-hidden-files: true
