name: Slow-Checks

on:
  workflow_call:

jobs:

  run-integration-tests:
    name: Run Integration Tests (Python-${{ matrix.python-version }}, Exasol-${{ matrix.exasol-version}})
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        python-versions: ["3.10"]
        exasol-versions: ["2025.1.8"]

    steps:
      - name: Allow unprivileged user namespaces
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false

      - name: Free disk space by removing large directories
        run: |
                sudo rm -rf /usr/local/graalvm/
                sudo rm -rf /usr/local/.ghcup/
                sudo rm -rf /usr/local/share/powershell
                sudo rm -rf /usr/local/share/chromium
                sudo rm -rf /usr/local/lib/node_modules
                sudo rm -rf /opt/ghc

      - name: Check out Repository
        id: check-out-repository
        uses: actions/checkout@v6

      - name: Set up Python & Poetry Environment
        id: set-up-python-and-poetry-environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v6
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "2.3.0"

      - name: Run Tests and Collect Coverage
        run: >
          poetry run -- nox -s test:integration --
          --coverage --db-version ${{ matrix.exasol-version }}
          --backend all
        env:
          SAAS_HOST: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_HOST }}
          SAAS_ACCOUNT_ID: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_ACCOUNT_ID }}
          SAAS_PAT: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_PAT }}

      - name: Upload Artifacts
        id: upload-artifacts
        uses: actions/upload-artifact@v6
        with:
          name: coverage-python${{ matrix.python-version }}-slow
          path: .coverage
          include-hidden-files: true
